body {
    padding-bottom: 20%;
    font-family: Pacifico,cursive;
    background-color: #fafafa;
}

header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    font-family: Pacifico,cursive;
}

.header-nav {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding: 26px 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 77px;
    box-sizing: border-box;
    transition: height .3s;
}

.base-container {
    max-width: 1010px;
    margin: 0 auto;
}

.logo-group {
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.logo-group>* {
    margin: 0 4px;
}

.vertical-line {
    background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
    transition: opacity .3s;
}

.logo-group__title {
    font-size: 24px;
    transition: opacity .3s;
}

@media (max-width: 776px) {
  .only-desktop {
      display: none;
  }
}


.search {
    border: 1px solid #dbdbdb;
    background: hsla(0,0%,98%,.98);
    font-size: 14px;
    height: 28px;
    width: 215px;
    line-height: 28px;
    color: #999;
    font-weight: 300;
}

.search-icon {
    font-size: 10px;
    position: relative;
    top: -2px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 160px;
    padding-left: 18px;
}

.social-icons-m-size {
    font-size: 24px;
}
/* Cia baigiasi headeris */

/* Cia prasideda section */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 136px;
    max-width: 614px;
    width: 100%;
    border: 1px solid #e6e6e6;
}

.card__title {
    display: flex;
    align-items: center;
    padding: 16px;
    background: #fff;
}

.outer-div {
    width: 32px;
    height: 32px;
    border: 2px solid salmon;
    border-radius: 50%;
    margin-right: 12px;
}

.card__title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
    border: 1px solid #fff;
}

.card__image {
    background: url(img/canoe.jpg);
    height: 600px;
    width: 100%;
    background-position: 50% 50%;
}

.card-container--inner {
    padding: 0 16px;
}

.card__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 8px 0;
}

.card__social div span:first-child {
    cursor: pointer;
    margin-right: 8px;
}

label {
    cursor: pointer;
}

.card__likes {
    font-family: Merriweather,serif;
    margin: 8px 0;
}
.bold {
    font-weight: 900;
}

.card__comments {
    font-family: Merriweather,serif;
    margin: 8px 0;
}

.card__add-comment__box {
    border-top: 1px solid #efefef;
    height: 56px;
    line-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}
.comment-input {
    flex: 1;
    height: 18px;
    border: none;
    background: inherit;
    font-size: 16px;
    margin-right: 8px;
}

.like-heart--active {
    color: red;
}

.likes-count-1{
  display: none;
}
